language: node_js
node_js: stable
dist: trusty
sudo: required
addons:
  firefox: latest
  sauce_connect: true
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install -g bower polylint web-component-tester polymer-cli
- bower install
- polymer build
- polylint
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct -s 'default' --skip-plugin local;
  fi
env:
  global:
  - secure: F6ugKPSSK2qe/X41O4S8iRtpDFz+vxKxR3hlMT3n0tA++uXN5IqBYHSWNyAzqctIfivF3cwTfINajdKZ91LvrlQpVgW7nbKU45Gkve3aCy4ObFw/qVzZeBabchC/idnL8EHCAOQEYTks0ocHuLPnhJyJ1Dvq90Pt8oyLkp9EBVriWS+UNIS2SlSnl4Nyc43dxaS0pzy+3S1NjsftEcqMGByQPX3COUYmqiKejJLJbH20c+5fEbquTEwoGvhhqdUoDZarug8x2tyW2ZEeEfUSvVyeUMrDP/eDzCvvuLFVvcPxPUWwIIV9sYSE2LxU99euxbcazinuMMUhF15xYW3jowDi1HiRKdnHdjwmOeFIrbOTE0/9yvo0ImwiBglfAe7H3KqecAcRZ3Dli9ZSGHysptpuV6hGSQ3+nZy06UaLSG31hoCq0U/xl03YatauOngKqY4aEOLNpCyBZwG/uiWDyJz/i/MQ4Od1DxsB3NXlyA0cphy3gUllANBy91PNkstAwAeW0vxBRGfYVjSuuiskFZnmmQsgUFUVHsj4SR+U/Z1qKIQ2dBkrnQouXfMdcvpmrAp8+ZjXQR3bPlIhvMCG/wP6KgwU0VwMVpzShblYRKBBeYlF0RDgiU7uFX1UE4OFnjb+3gGEQyOPnQlQce+dcT99q62k9OsBoBMEOBPdBCs=
  - secure: J2Fn/CzDP/FV6pNtbrGPffKq977+hDQ0lq2jVT0Xt6KAvWejxjR6FKmSmgr+APrHwRu3oOs13H+gs5j4wdtYkZ8kYPBxUfh5k2eL5tZnoRvTmZ0GGzIQz+bhSfaaENWHV8Ztp9/JbXQ/Ep3xG5uI/7hLww9Sl4UHZQgltF+ByHf/rJkQmLedGdjuyZhSN1XRcmqawzvBnm7qc0/e+cU3bVW8Gjc+Hu0CEm+uonerTlvuUan/hi1R6WpJqmgS/XmO5Ub1vwCqmQju78J3LNeB2K8YjYDu6mas0zI0IPGJI1v3F83G8mcoi3zriF1Xya+wLfL24H3WFO6qZPX7s1EAPVS5Tc4G+rU8gSJ9i/u1g+YuIuJfxilXnbRpUkhpvDAbgICP0/2qsyOKWen9375PyLI/tj8N+IGownpVYHZRZhflVZoAM8m2dDKkLQtYQhzaciZd4i7/8Hu0arxdd0FOYywgd/iMs8q5Xjtk4vnqTiKrmx9DaT4Tfobl/Mcm5L/pA6UYcn1cOKtoyADubweObyGnU9gRe+a4t6Rvxz29NHDIwP/HHDhzFYALMh9mlM2sTuQGTfo2ygySjF+lQctH/7+xFRSHEyizdYVjkm7CnyoOZxuAO/vG+xmuol1nKE/kxZ3whzczPPCmi/TrvSwKEaJiRlQWvq27JpbQp7suqRg=
notifications:
  secure: qShVa8agmlB8cHgCOBX6IzT8U/ujU++YQDoktLlbnH1jr+BAdtq6qHwbFjpZxCcTgX46KDsyWup4p0bnHyWrER/MP0Mtoo7CLYq6vQ/1r+WNnPfuwYsYX66H1olr6ktp/eLc+8gdrql9rhNqnprICkpc+OeQlFpyg4hWVi6e1LhFGZzf6mlHn4OGhyg+2Lvcs4sZ8dDp/J88n1QTBioYPTTR/BMGncpZ9XY1zaFiscxYFMgHvGT48bax+B3Kwv2+UVif8KAGM5jCmUW2OJ3db+VSFTszz/tWm2O873gxYPe6I966CNldpQzbvqgt8soyoiCmFvg33lNmz42Z+NZDGi5Rawqh1CeBu2k4zDilcTpYddBiCqkCotOa3LsQ/MIajvqb9kJNtlHC0fYjyKGgRDgL4Ki4eEmbC/KM20Mp5fiDGRoRFODRa+OMCo+ain2a7c1jhliJD3eTXv1Q3iDN9NCTei4ph2D3R7hXicCVEgCwbf9ZP4ex2xGcBTwBNHgVrGNt/zwzMMrtzpcIf81Nj6+uIM82S8VNbvADKyGYp/Gls2Bnf1RgOEYseCgTqzSZPau3ctkSLsuv/h5JxftXJXxh0EJUQaNRk1G5kMhfrdqzPwU4vB80sJCxoaQbiD4tcdnz2y9c7XPv9h0NaJDl3y7qHBrEHWxpFC6/pNqOHYk=
